* {
  margin: 0;
  padding: 0;
}

.calendar-display {
  padding-bottom: 120px;
  text-align: -webkit-center;
  font-family: 'Exo 2', sans-serif;
  margin: 50px 0;
  position: fixed;
  top: 10%;
  width: 100%;
} 